<!DOCTYPE html>
<html lang="hu" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Admin - TechShop</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="" />
<meta name="author" content="" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/admin/css/app.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100 bg-light">
<header th:replace="admin/fragments/header :: header"></header>

<main role="main" class="flex-shrink-0">
    <section class="content my-5">
        <div class="container m-auto">
            <div class="row mb-2">
                <div class="col-6 p-0"><h3>Számlák</h3></div>
            </div>

            <div class="container bg-white rounded shadow-sm px-0 py-3 mb-3">
                <div class="row">
                    <div class="col-6 pl-3">
                        <div class="admin-list-items">
                            <span class="font-weight-bolder">Összesen:</span>
                            <span th:text="${invoiceList.size()}"></span> elem
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-0" th:if="${#request.getParameter('success') != null && !#request.getParameter('success').equals('')}">
                <div class="col-12 p-0">
                    <div class="alert alert-success" role="alert">
                        <div class="font-weight-bold">
                            <span th:switch="${#request.getParameter('success')}">
                                <span th:case="'add'">A számla hozzáadása sikeres.</span>
                                <span th:case="'modify'">A számla módosítása sikeres.</span>
                                <span th:case="'delete'">A számla törlése sikeres.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-0" th:if="${#request.getParameter('error') != null && !#request.getParameter('error').equals('')}">
                <div class="col-12 p-0">
                    <div class="alert alert-danger" role="alert">
                        <div class="font-weight-bold">
                            <span th:switch="${#request.getParameter('error')}">
                                <span th:case="'add'">A számla hozzáadása sikertelen.</span>
                                <span th:case="'modify'">A számla módosítása sikertelen.</span>
                                <span th:case="'delete'">A számla törlése sikertelen.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container bg-white rounded shadow-sm p-3">
                <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Név</th>
                        <th scope="col">Végösszeg</th>
                        <th scope="col">Fizetési mód</th>
                        <th scope="col" class="fix200">Számla kelte</th>
                        <th scope="col" class="fix200">Esedékes</th>
                        <th scope="col" class="fix150 text-right">Műveletek</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="invoice, i : ${invoiceList}">
                        <td th:text="${invoice.getCustomerName()}"></td>
                        <td th:text="${#numbers.formatInteger(invoice.getInvoiceValue(), 0, 'WHITESPACE') + ' Ft'}"></td>
                        <td th:text="${invoice.getPaymentMethod()}"></td>
                        <td th:text="${#dates.format(invoice.getDueDate(), 'yyyy-MM-dd')}"></td>
                        <td class="fix200" th:text="${#dates.format(invoice.getInvoiceDate(), 'yyyy-MM-dd')}"></td>
                        <td>
                            <div class="operations">
                                <button type="button" class="btn btn-operations-small btn-info ml-1 button-show-invoice"
                                        title="Megtekintés" th:attr="data-href=${'/admin/invoices/show/' + invoice.getId()}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Törlés</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Biztos, hogy stornózza a számlát?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Mégsem</button>
                <a id="link-delete" href="/admin/invoices/">
                    <button type="button" class="btn btn-sm btn-danger">Stornózás</button></a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="admin/fragments/footer :: footer"></footer>
<script th:src="@{/admin/js/vendor.js}"></script>
<script th:src="@{/admin/js/app.js}"></script>
</body>
</html>