<html xmlns:th="http://www.thymeleaf.org">
<section class="featured" th:fragment="featured(title, type, products)">
    <div class="container" th:if="${products != null && products.size() > 0}">
        <div class="row pt-5 pb-2 px-0">
            <div class="col-12 px-0">
                <div class="subtitle px-3 pb-3" th:text="${title}"></div>
                <div class="products">
                    <ul>
                        <li th:each="product, i : ${products}">
                            <div class="box"><a th:href="${('/termekek/'+product.getCategorySlug()+'/' + product.getSlug())}">
                                <th:block th:if="${type == 'new'}">
                                    <span class="new">Új termék</span>
                                </th:block>
                                <div class="image" th:style="${'background-image: url(/uploads/products/thumbs/' + product.getImage() + ')'}"></div>
                                <div class="title" th:text="${product.getProductName()}"></div>
                                <div class="price" th:text="${#numbers.formatInteger(product.getPrice(), 0, 'WHITESPACE') + ' Ft'}"></div></a>
                                <button class="btn btn-primary rounded addToCart" th:attr="data-id=${product.getId()}">Kosárba tesz</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>