<!DOCTYPE html>
<html lang="hu" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Termékek - TechShop</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="" />
<meta name="author" content="" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
<header th:replace="fragments/header :: header"></header>

<main role="main" class="flex-shrink-0">
    <section class="page-header">
        <div class="row py-5">
            <div class="col-12"><h1>Termékek › Mobiltelefon</h1></div>
        </div>
    </section>
    <section class="product-list container py-5">
        <div class="row my-5">
            <div class="col-2">
                <h3>Kategóriák</h3>
                <div class="categories mt-2"><ul>
                    <li><a href="/termekek/fenykepezogep">Fényképezőgép</a></li>
                    <li><a href="/termekek/fotos-tartozek">Fotós tartozék</a></li>
                    <li><a href="/termekek/haztartasi-kisgep">Háztartási kisgép</a></li>
                    <li><a href="/termekek/kavegep">Kávégép</a></li>
                    <li><a href="/termekek/mobiltelefon">Mobiltelefon</a></li>
                    <li><a href="/termekek/notebook">Notebook</a></li>
                    <li><a href="/termekek/nyomtato">Nyomtató</a></li>
                    <li><a href="/termekek/okosora">Okosóra</a></li>
                    <li><a href="/termekek/robotporszivo">Robotporszívó</a></li>
                    <li><a href="/termekek/tablet">Tablet</a></li>
                    <li><a href="/termekek/televizio">Televízió</a></li>
                    <li><a href="/termekek/videokamera">Videókamera</a></li>
                </ul></div>
            </div>
            <div class="col-10">
                <div class="row mt-1 mb-3 list-header">
                    <div class="col-6 count">20 termék</div>
                    <div class="col-6">
                        <div class="sort-block">
                            <label for="sort">Rendezés:</label>
                            <select class="form-control sort" id="sort">
                                <option value="title">Név szerint</option>
                                <option value="price">Ár szerint</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="products">
                    <ul>
                        <li th:each="movie, i : ${#numbers.sequence(1, 20, 1)}">
                            <div class="box"><a href="/termekek/mobiltelefon/iphone-12-max">
                                <th:block th:if="${type == 'new'}">
                                    <span class="new">Új termék</span>
                                </th:block>
                                <div class="image"><img src="/images/iphone-12-max.jpg" alt=""/></div>
                                <div class="title">Apple iPhone 12 Max</div>
                                <div class="price">449 990 Ft</div></a>
                                <button class="btn btn-primary rounded">Kosárba tesz</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>