<!DOCTYPE html>
<html lang="hu" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Apple iPhone 12 Max - TechShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
<header th:replace="fragments/header :: header"></header>

<main role="main" class="flex-shrink-0">
    <header th:replace="fragments/productheader :: productheader"></header>
    <section class="product container pt-5 pb-3">
        <div class="row my-5">
            <div class="col-6 text-center px-3">
                <img th:src="'/uploads/products/large/' + ${product.getImage()}" th:alt="${product.getProductName()}" />
            </div>
            <div class="col-6 px-3">
                <div class="title" th:text="${product.getProductName()}"></div>
                <div class="product-number"><strong>Cikkszám:</strong> <span th:text="${product.getProductNumber()}" th:remove="tag"></span></div>
                <div class="price" th:text="${#numbers.formatInteger(product.getPrice(), 0, 'WHITESPACE') + ' Ft'}"></div>
                <div class="description" th:utext="${product.getShortDescription()}"></div>
                <div class="row cart-row pt-3">
                    <div class="col-3 px-0">
                        <input type="number" class="form-control numeric productQty" name="qty" value="1" min="1" max="99" id="pc" />
                        <label for="pc">db</label>
                    </div>
                    <div class="col-8 px-0 pl-3">
                        <button class="btn btn-primary rounded addToCart" th:attr="data-id=${product.getId()}">Kosárba tesz</button>
                    </div>
                </div>
                <div class="favourite">Kívánságlistára</div>
            </div>
        </div>
        <th:block th:if="${product.getDescription() != null && product.getDescription() != ''}">
            <div class="row">
                <div class="col-12 large-description">
                    <h3 class="pb-2">Részletes leírás</h3>
                    <div th:utext="${product.getDescription()}"></div>
                </div>
            </div>
        </th:block>

        <div class="row">
            <div class="col-12">
                <div class="row mb-4 pb-4">
                    <div class="col-12 px-0">
                        <h3 class="mb-4">Szóljon hozzá!</h3>
                        <th:block th:if="${session.USERID}">
                            <form name="form-comment" th:action="${'/hozzaszolas/add/' + product.getId()}" method="post">
                                <div class="form-group">
                                    <label for="comment">Hozzászólás</label>
                                    <textarea class="form-control" name="comment" id="comment" rows="7"
                                              placeholder="Mit gondol a termékről?" required="required"></textarea>
                                </div>
                                <button class="btn btn-success btn-comment rounded" type="submit">Hozzászólok</button>
                            </form>
                        </th:block>
                        <th:block th:if="!${session.USERID}">
                            A hozzászólás küldéséhez <a href="/regisztracio">regisztráció</a> és <a href="/belepes">bejelentkezés</a> szükséges!
                        </th:block>
                    </div>
                </div>
            </div>
        </div>

        <div class="row comment-list">
            <div class="col-12">
                <div id="comments">
                    <div th:if="${product.getComments() != null && product.getComments().size() > 0}"
                         th:replace="fragments/comments :: comments(${product.getComments()})"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="featured-row pb-5">
        <footer th:replace="products/featured :: featured('Mások megvásárolták ezeket is', 'attached')"></footer>
    </section>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>