<html xmlns:th="http://www.thymeleaf.org">
<div class="col-2" th:fragment="categories">
    <h3>Kategóriák</h3>
    <div class="categories mt-2"><ul>
        <li th:each="item : ${categoryList}">
            <a th:href="(${'/termekek/'+(item.getSlug())})"
               th:text="${item.getCategoryName() + ' (' + item.getProductCount() + ')'}"
               th:classappend="${(category != null && item.getSlug().equals(category.getSlug()) ? 'active': '')}"></a>
        </li>
    </ul></div>
</div>