<html xmlns:th="http://www.thymeleaf.org">
<footer class="footer mt-auto" th:fragment="footer">
    <div class="top">
        <div class="container">
            <div class="row py-4">
                <div class="col-12 col-md-4">
                    <div class="logo">TechShop</div>
                    <div class="description">Az adatbázis alapú rendszerek tantárgy projektmunkájának megvalósítása.</div>
                </div>
                <div class="col-12 col-md-8">
                    <div class="title">Termékkategóriák</div>
                    <nav><ul>
                        <li><a href="/termekek/fenykepezogep">Fényképezőgép</a></li>
                        <li><a href="/termekek/fotos-tartozek">Fotós tartozék</a></li>
                        <li><a href="/termekek/haztartasi-kisgep">Háztartási kisgép</a></li>
                        <li><a href="/termekek/kavegep">Kávégép</a></li>
                        <li><a href="/termekek/mobiltelefon">Mobiltelefon</a></li>
                        <li><a href="/termekek/notebook">Notebook</a></li>
                        <li><a href="/termekek/nyomtato">Nyomtató</a></li>
                        <li><a href="/termekek/okosora">Okosóra</a></li>
                        <li><a href="/termekek/robotporszivo">Robotporszívó</a></li>
                        <li><a href="/termekek/tablet">Tablet</a></li>
                        <li><a href="/termekek/televizio">Televízió</a></li>
                        <li><a href="/termekek/videokamera">Videókamera</a></li>
                    </ul></nav>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row py-3">
                <div class="col-12 col-md-6">&copy; 2021. Timári László, Győri Tünde.</div>
                <div class="col-12 col-md-6 text-right">Adatbázis alapú rendszerek [IBL152L]</div>
            </div>
        </div>
    </div>
</footer>