<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <div class="top">
         <div class="container">
            <div class="row">
                <div class="col-12 col-md-6">A legolcsóbb tech webáruház</div>
                <div class="col-12 col-md-6 text-right">
                    <th:block th:if="${session.USERID}">
                        <span class="mr-4" th:text="${'Üdv, ' + session.FIRSTNAME + '!'}"></span>
                        <a href="/fiokom">Fiókom</a>
                        <a class="ml-4" href="/kilepes">Kijelentkezés</a>
                    </th:block>
                    <th:block th:if="!${session.USERID}">
                        <a href="/belepes">Bejelentkezés</a>
                        <a class="ml-4" href="/regisztracio">Regisztráció</a>
                    </th:block>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom">
        <div class="container">
            <div class="row pt-3 pb-2">
                <div class="col-6">
                    <div class="logo"><a href="/">TechShop</a></div>
                    <nav>
                        <a class="ml-3" href="/termekek">Termékek</a>
                        <a class="ml-3" href="/kapcsolat">Kapcsolat</a>
                    </nav>
                </div>
                <div class="col-3">
                    <form action="/kereses" method="get">
                        <div class="input-group search-block mb-3">
                            <input type="search" class="form-control search" name="q" th:value="${#request.getParameter('q')}"
                                   placeholder="Keresés az áruházban" required="required" />
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="button-addon2"></button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-3">
                    <div class="icons">
                        <div class="favourites"><span class="badge">0</span></div>
                        <div class="bag ml-3"><a href="/kosar">
                            <span class="badge" id="cartQty" th:text="${@cart.count()}"></span>
                            <span class="value" id="cartValue" th:text="${#numbers.formatInteger(@cart.value(), 0, 'WHITESPACE') + ' Ft'}"></span>
                        </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>