<!DOCTYPE html>
<html lang="hu" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>TechShop - A legolcsóbb tech webáruház</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="" />
<meta name="author" content="" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
<header th:replace="fragments/header :: header"></header>

<main role="main" class="flex-shrink-0">
    <section class="page-header">
        <div class="row py-5">
            <div class="col-12"><h1>Fiókom › Jelszavam módosítása</h1></div>
        </div>
    </section>
    <div class="container py-5">
        <div class="row my-5">
            <div class="col-6 py-5 mx-auto shadow-lg">
                <form th:action="@{/fiokom/jelszomodositas}" method="post">
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="currentPassword">Jelenlegi jelszó</label>
                            <input class="form-control" type="password" name="currentPassword" id="currentPassword"
                                   required="required" autocomplete="new-password" />
                            <span class="error" th:if="${#request.getParameter('error') == 'current'}">A jelenlegi jelszó nem egyezik!</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="password">Új jelszó</label>
                            <input class="form-control" type="password" name="password" id="password"
                                   required="required" autocomplete="new-password" />
                            <span class="error" th:if="${#request.getParameter('error') == 1}">A mező kitöltése kötelező</span>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="passwordConfirmation">Új jelszó újra</label>
                            <input class="form-control" type="password" name="passwordConfirmation" id="passwordConfirmation"
                                   required="required" autocomplete="new-password" />
                            <span class="error" th:if="${#request.getParameter('error') == 2}">A mező kitöltése kötelező</span>
                        </div>
                    </div>

                    <div class="row pt-2">
                        <div class="col-12">
                            <button class="btn btn-primary btn-lg rounded w-100" type="submit">
                                <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>Jelszavam módosítása</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>