<!DOCTYPE html>
<html lang="hu" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Kosár - TechShop</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="" />
<meta name="author" content="" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
<header th:replace="fragments/header :: header"></header>

<main role="main" class="flex-shrink-0">
    <section class="page-header">
        <div class="row py-5">
            <div class="col-12"><h1>Kosár tartalma</h1></div>
        </div>
    </section>
    <div class="container py-5">
        <div class="row my-5">
            <div class="cart col-9 px-0 mx-auto shadow-lg bg-white">
                <div class="row cart-item py-3 px-2" th:each="item, i : ${@cart.getItems()}">
                    <div class="col-2 pr-2">
                        <img th:src="'/uploads/products/thumbs/' + ${item.getProduct().getImage()}"
                             th:alt="${item.getProduct().getProductName()}" />
                    </div>
                    <div class="col-7">
                        <div class="title" th:text="${item.getProduct().getProductName()}"></div>
                        <div class="product-number" th:text="${item.getProduct().getProductNumber()}"></div>
                        <a th:href="'/kosar?delete='+${item.getProduct().getId()}">
                            <button class="btn mt-2 btn-sm btn-primary rounded">Törlés</button>
                        </a>
                    </div>
                    <div class="col-3">
                        <div class="price" th:text="${#numbers.formatInteger(item.getProduct().getPrice() * item.getQty(), 0, 'WHITESPACE') + ' Ft'}"></div>
                        <div class="pc-row pt-5">
                            <input type="number" class="form-control numeric updateCartItem" name="qty"
                                   min="1" max="99" id="qty" th:value="${item.getQty()}" th:attr="data-id=${item.getProduct().getId()}" />
                            <label for="qty">db</label>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-9 mt-4 px-0 mx-auto shadow-lg bg-white">
                <div class="row summary py-4 mt-2 px-2">
                    <div class="col-6">Összesen:</div>
                    <div class="col-6 text-right" id="total" th:text="${#numbers.formatInteger(@cart.value(), 0, 'WHITESPACE') + ' Ft'}"></div>
                </div>
                <div class="row summary pb-4 mb-2 px-2">
                    <div class="col-6">
                        <a href="/termekek"><button class="btn btn-secondary rounded">Vásárlás folyatása</button></a>
                    </div>
                    <div class="col-6 text-right" th:if="${@cart.count() > 0}">
                        <a href="/penztar"><button class="btn btn-primary rounded">Pénztár</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>