<!DOCTYPE html>
<html lang="hu" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Pénztár - TechShop</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="" />
<meta name="author" content="" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/app.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100">
<header th:replace="fragments/header :: header"></header>

<main role="main" class="flex-shrink-0">
    <section class="page-header">
        <div class="row py-5">
            <div class="col-12"><h1>Pénztár</h1></div>
        </div>
    </section>
    <div class="container py-5">
        <div class="cassa row my-5">
            <div class="col-9 mt-4 pb-2 px-0 mx-auto shadow-lg bg-white">
                <div class="row pt-4 pb-2 mt-2 px-4">
                    <div class="col-12 subtitle">Összegzés</div>
                </div>
                <div class="row mt-2 px-4">
                    <div class="col-6 subitem">Termékek</div>
                    <div class="col-6 subitem text-right" th:text="${#numbers.formatInteger(@cart.value(), 0, 'WHITESPACE') + ' Ft'}"></div>
                </div>
                <div class="row mt-2 px-4">
                    <div class="col-6 subitem">Szállítási díj</div>
                    <div class="col-6 subitem text-right">0 Ft</div>
                </div>
                <div class="row mt-4 pb-4 px-4">
                    <div class="col-6 total">Összesen:</div>
                    <div class="col-6 total text-right" th:text="${#numbers.formatInteger(@cart.value(), 0, 'WHITESPACE') + ' Ft'}"></div>
                </div>
            </div>

            <div class="col-9 mt-5 pb-2 px-0 mx-auto shadow-lg bg-white">
                <!--/*@thymesVar id="order" type="hu.db.techshop.Order"*/-->
                <form th:action="@{/penztar}" method="post" th:object="${order}">
                    <div class="row pt-4 pb-2 mt-2 px-4">
                        <div class="col-12 subtitle">Szállítási adatok</div>
                    </div>
                    <div class="row mb-3 pb-3 px-4">
                        <div class="col-12">
                            <label for="shippingName">Név</label>
                            <input class="form-control" type="text" th:field="*{shippingName}" id="shippingName"  />
                            <span class="error" th:if="${#fields.hasErrors('shippingName')}" th:errors="*{shippingName}"></span>
                        </div>
                    </div>
                    <div class="row mb-3 pb-3 px-4">
                        <div class="col-6">
                            <label for="shippingZip">Irányítószám</label>
                            <input class="form-control numeric" type="text" th:field="*{shippingZip}" id="shippingZip" maxlength="4" />
                            <span class="error" th:if="${#fields.hasErrors('shippingZip')}" th:errors="*{shippingZip}"></span>
                        </div>
                        <div class="col-6">
                            <label for="shippingCity">Település</label>
                            <input class="form-control" type="text" th:field="*{shippingCity}" id="shippingCity"  />
                            <span class="error" th:if="${#fields.hasErrors('shippingCity')}" th:errors="*{shippingCity}"></span>
                        </div>
                    </div>
                    <div class="row mb-3 pb-3 px-4">
                        <div class="col-6">
                            <label for="shippingStreet">Utca, házszám</label>
                            <input class="form-control" type="text" th:field="*{shippingStreet}" id="shippingStreet"  />
                            <span class="error" th:if="${#fields.hasErrors('shippingStreet')}" th:errors="*{shippingStreet}"></span>
                        </div>
                        <div class="col-6">
                            <label for="shippingPhone">Telefonszám</label>
                            <input class="form-control" type="text" th:field="*{shippingPhone}" id="shippingPhone"  maxlength="20" />
                            <span class="error" th:if="${#fields.hasErrors('shippingPhone')}" th:errors="*{shippingPhone}"></span>
                        </div>
                    </div>

                    <div class="row pt-4 pb-2 mt-3 px-4">
                        <div class="col-12 subtitle">Számlázási adatok</div>
                    </div>
                    <div class="row mb-3 pb-3 px-4">
                        <div class="col-12">
                            <label for="billingName">Név / cégnév</label>
                            <input class="form-control" type="text" th:field="*{billingName}" id="billingName"  />
                            <span class="error" th:if="${#fields.hasErrors('billingName')}" th:errors="*{billingName}"></span>
                        </div>
                    </div>
                    <div class="row mb-3 pb-3 px-4">
                        <div class="col-6">
                            <label for="billingZip">Irányítószám</label>
                            <input class="form-control numeric" type="text" th:field="*{billingZip}" id="billingZip"
                                    maxlength="4" />
                            <span class="error" th:if="${#fields.hasErrors('billingZip')}" th:errors="*{billingZip}"></span>
                        </div>
                        <div class="col-6">
                            <label for="billingCity">Település</label>
                            <input class="form-control" type="text" th:field="*{billingCity}" id="billingCity"  />
                            <span class="error" th:if="${#fields.hasErrors('billingCity')}" th:errors="*{billingCity}"></span>
                        </div>
                    </div>
                    <div class="row mb-3 pb-3 px-4">
                        <div class="col-6">
                            <label for="billingStreet">Utca, házszám</label>
                            <input class="form-control" type="text" th:field="*{billingStreet}" id="billingStreet"  />
                            <span class="error" th:if="${#fields.hasErrors('billingStreet')}" th:errors="*{billingStreet}"></span>
                        </div>
                        <div class="col-6">
                            <label for="billingTaxNumber">Adószám</label>
                            <input class="form-control" type="text" th:field="*{billingTaxNumber}" id="billingTaxNumber" />
                            <span class="error" th:if="${#fields.hasErrors('billingTaxNumber')}" th:errors="*{billingTaxNumber}"></span>
                        </div>
                    </div>


                    <div class="row pt-4 pb-2 mt-3 px-4">

                        <div class="col-12 subtitle">Fizetés</div>
                    </div>
                    <div class="row mb-3 pb-3 px-4">
                        <div class="col-6">
                            <label for="paymentMethodId">Fizetési mód</label>
                            <select class="form-control" th:field="*{paymentMethodId}" id="paymentMethodId">
                                <option th:each="paymentMethod, i : ${paymentMethods}" th:value="${paymentMethod.getId()}"
                                        th:text="${paymentMethod.getPaymentMethod()}"></option>
                            </select>
                            <span class="error" th:if="${#fields.hasErrors('paymentMethodId')}" th:errors="*{paymentMethodId}"></span>
                        </div>
                    </div>

                    <div class="row mb-3 px-4">
                        <div class="col-12 py-3 px-3">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="terms" th:field="*{terms}"  />
                                <label class="custom-control-label" for="terms">Az Általános Szerződési Feltételeket elolvastam és elfogadom.</label>
                            </div>
                            <span class="error" th:if="${#fields.hasErrors('shippingStreet')}" th:errors="*{shippingStreet}"></span>
                        </div>
                    </div>

                    <div class="row mb-3 px-4">
                        <div class="col-12 py-3 px-0">
                            <div class="col-6 float-right">
                                <button class="btn btn-primary w-100 float-right btn-lg rounded">Megrendelés elküldése</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<footer th:replace="fragments/footer :: footer"></footer>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/app.js}"></script>
</body>
</html>