footer {
    background: #343a40;
    color: #fff;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #fff;
}

footer .container-footer {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

footer .right {
    text-align: right;
}

@media(max-width: 768px) {
    footer .left,
    footer .right {
        text-align: center;
    }
}