body {
    font-family: 'Roboto', sans-serif;
    color: #343a40;
    font-size: 15px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.row {
    margin: 0;
    clear: both;
}

@media (min-width: 576px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container, .container-md, .container-sm {
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl {
        max-width: 1200px;
    }
}

section.login .container {
    max-width: 400px;
}

.table-sm td, .table-sm th {
    padding: 0.5rem;
}

.table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.03);
}

.text-secondary {
    color: #212529!important;
}

.btn-operations-small {
    padding: 0 4px !important
}

span.text-label,
.link-operation {
    margin-top: 3px;
    float: left;
}

.operations {
    float: right;
}
.operations a:hover {
    text-decoration: none;
}
.operations button,
button.button-delete-item {
    border-radius: 50%;
}

.fix150 {
    width: 150px;
}
.fix200 {
    width: 200px;
}

.admin-list-items {
    margin-top: 8px;
}

.button-add-new {
    float: right;
}

h3 a {
    color: #343a40!important;
}
h3 a:hover {
    text-decoration: none;
}

.form-buttons a {
    text-decoration: none;
}

.button-delete-item {
    margin: 35px 0 0 0;
    float: right;
}

label {
    width: 100%;
}

.input-unit {
    float: left;
    width: calc(100% - 110px);
}

.measure {
    float: left;
    width: 100px;
    margin: 9px 0 0 10px;
}

.recipe-description dl,
.recipe-description ol,
.recipe-materials ul,
.recipe-description ul {
    padding-left: 15px;
    margin-top: 15px;
}
.recipe-description ol li,
.recipe-description ul li {
    margin-bottom: 10px;
}
.custom-control.categories {
    float: left;
    margin-right: 15px;
}
.label {
    margin-bottom: 15px;
    cursor: default;
}
.input-rounded-left {
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.select-filter {
    margin: -4px 0 0 5px;
}
.select-stock {
    margin: 0 15px 0 5px;
}