<html xmlns:th="http://www.thymeleaf.org">
<header>
    <div class="container-header py-2">
        <nav class="navbar navbar-expand-md px-0">
            <a class="navbar-brand" href="/admin">TechShop</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Menü megnyitása">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ml-md-4">
                        <a class="nav-link" href="/admin/invoices">Számlák</a></li>
                    <li class="nav-item ml-md-3">
                        <a class="nav-link" href="/admin/orders">Megrendelések</a></li>
                    <li class="nav-item dropdown ml-md-3 mr-md-2">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown01" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Termékek</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="/admin/products">Termékek</a>
                            <a class="dropdown-item" href="/admin/categories">Kategóriák</a>
                        </div>
                    </li>
                    <li class="nav-item ml-md-3">
                        <a class="nav-link" href="/admin/contents">Tartalmak</a></li>
                    <li class="nav-item ml-md-3">
                        <a class="nav-link" href="/admin/users">Felhasználók</a></li>
                    <li class="nav-item dropdown ml-md-3">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown"
                           aria-haspopup="true" aria-expanded="false">Fiókom</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown02">
                            <a class="dropdown-item" href="/admin/password">Jelszó módosítás</a>
                            <a class="dropdown-item" href="/admin/logout">Kilépés</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="nav-scroller bg-white shadow-sm" th:if="${orderList != null}">
        <div class="container">
            <nav class="nav nav-underline">
                <a class="nav-link" th:classappend="${#request.getParameter('s') == null ||
                (#request.getParameter('s') != null && #request.getParameter('s').equals('1')) ? 'text-primary' : 'text-dark'}"
                   href="/admin/orders">Új</a>
                <a class="nav-link" th:classappend="${#request.getParameter('s') != null &&
                #request.getParameter('s').equals('2') ? 'text-primary' : 'text-dark'}" href="/admin/orders?s=2">Fizetve</a>
                <a class="nav-link" th:classappend="${#request.getParameter('s') != null &&
                #request.getParameter('s').equals('3') ? 'text-primary' : 'text-dark'}" href="/admin/orders?s=3">Kiszállítva</a>
                <a class="nav-link" th:classappend="${#request.getParameter('s') != null &&
                #request.getParameter('s').equals('4') ? 'text-primary' : 'text-dark'}" href="/admin/orders?s=4">Lezárva</a>
                <a class="nav-link" th:classappend="${#request.getParameter('s') != null &&
                #request.getParameter('s').equals('5') ? 'text-primary' : 'text-dark'}" href="/admin/orders?s=5">Törölve</a>
            </nav>
        </div>
    </div>
</header>
