<!DOCTYPE html>
<html lang="hu" class="h-100" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Admin - TechShop</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="" />
<meta name="author" content="" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/admin/css/app.css}" rel="stylesheet" />
</head>

<body class="d-flex flex-column h-100 bg-light">
<header th:replace="admin/fragments/header :: header"></header>

<main role="main" class="flex-shrink-0">
    <section class="content my-5">
        <div class="container m-auto">
            <div class="row mb-2">
                <div class="col-6 p-0"><h3>Termékkategóriák</h3></div>
                <div class="col-6 p-0">
                    <div class="button-add-new">
                        <a href="/admin/categories/create">
                            <button class="btn btn-primary btn-sm">
                                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus mr-1" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>Új termékkategória</button></a>
                    </div>
                </div>
            </div>

            <div class="container bg-white rounded shadow-sm px-0 py-3 mb-3">
                <div class="row">
                    <div class="col-6 pl-3">
                        <div class="admin-list-items">
                            <span class="font-weight-bolder">Összesen:</span>
                            <span th:text="${categoryList.size()}"></span> elem
                        </div>
                    </div>
                    <div class="col-6 pt-1 pr-3">
                        <form class="form-inline ml-md-3 mt-md-0" action="" autocomplete="off">
                            <div class="input-group-sm ml-auto">
                                <input class="form-control search-input" type="search" placeholder="Keresés" aria-label="Keresés" name="q"
                                       th:value="${#request.getParameter('q') != null ? #request.getParameter('q') : ''}" autocomplete="off" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="row p-0" th:if="${#request.getParameter('success') != null && !#request.getParameter('success').equals('')}">
                <div class="col-12 p-0">
                    <div class="alert alert-success" role="alert">
                        <div class="font-weight-bold">
                            <span th:switch="${#request.getParameter('success')}">
                                <span th:case="'add'">A termékkategória hozzáadása sikeres.</span>
                                <span th:case="'modify'">A termékkategória módosítása sikeres.</span>
                                <span th:case="'delete'">A termékkategória törlése sikeres.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row p-0" th:if="${#request.getParameter('error') != null && !#request.getParameter('error').equals('')}">
                <div class="col-12 p-0">
                    <div class="alert alert-danger" role="alert">
                        <div class="font-weight-bold">
                            <span th:switch="${#request.getParameter('error')}">
                                <span th:case="'add'">A termékkategória hozzáadása sikertelen.</span>
                                <span th:case="'modify'">A termékkategória módosítása sikertelen.</span>
                                <span th:case="'delete'">A termékkategória törlése sikertelen.</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container bg-white rounded shadow-sm p-3">
                <table class="table table-hover table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Termékkategória</th>
                        <th scope="col">Termék száma</th>
                        <th scope="col" class="fix150">Hozzáadva</th>
                        <th scope="col" class="fix150 text-right">Műveletek</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="category, i : ${categoryList}">
                        <td><a class="link-operation text-secondary" th:href="'/admin/categories/edit/' + ${category.getId()} "
                               th:text="${category.getCategoryName()}"></a></td>
                        <td th:text="${category.getProductCount() + ' db'}"></td>
                        <td class="fix150" th:text="${#dates.format(category.getCreatedAt(), 'yyyy-MM-dd HH:mm')}"></td>
                        <td>
                            <div class="operations">
                                <a th:href="'/admin/categories/edit/' + ${category.getId()}">
                                <button type="button" class="btn btn-operations-small btn-secondary ml-1" title="Szerkesztés">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"></path>
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"></path>
                                    </svg>
                                </button></a>
                                <button type="button" class="btn btn-operations-small btn-danger ml-1 button-delete" title="Törlés"
                                        th:attr="data-href=${'/admin/categories/delete/' + category.getId()}">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                                </svg>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>

<div class="modal" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5>Törlés</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Biztos, hogy törli a termékkategóriát?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Mégsem</button>
                <a id="link-delete" href="/admin/categories/">
                    <button type="button" class="btn btn-sm btn-danger">Törlés</button></a>
            </div>
        </div>
    </div>
</div>

<footer th:replace="admin/fragments/footer :: footer"></footer>
<script th:src="@{/admin/js/vendor.js}"></script>
<script th:src="@{/admin/js/app.js}"></script>
</body>
</html>